body {
  font-family: "Delius Unicase", sans-serif;
}

h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 80px;
}

.first-set {
  display: grid;
  gap: 30px;
  grid-template-rows: 370px 370px 370px;
  grid-template-columns: 370px 370px 370px;
  justify-content: center;
  margin-bottom: 120px;
}
.Tom {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Mouchet {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Federico {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Horner {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.Melgoza {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.Melgoza {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

img {
  border-radius: 20px;
  filter: drop-shadow(0 0 0.75rem gray);
  filter: saturate (30%);
  filter: grayscale(40%);
  filter: blur(30%);
}

span {
  font-family: "Roboto";
  position: absolute;
}

.second-set {
  display: grid;
  grid-template-rows: 370px 770px 370px;
  grid-template-columns: auto auto auto;
  gap: 30px;
  justify-content: center;
}

.Sean {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.John {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Hoefler {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Cotte {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
